#image-makesh, #image-makesh-error {
    position: absolute;
    width: 11%;
    top: 24.5%;
    right: 69.7%;
    opacity: 0.7;
}

#image-ranesh {
    position: absolute;
    right: 19.6%;
    top: 193px;
    opacity: 0.7;
    width: 110px;
}

#image-makesh-arrow1 {
    position: absolute;
    top: 35%;
    right: 72%;
    width: 68px;
}

#image-makesh-arrow2 {
    position: absolute;
    top: 56.5%;
    right: 73.5%;
    width: 68px;
}

#image-ranesh-arrow1 {
    position: absolute;
    top: 42%;
    right: 22%;
    width: 65px;
}

#image-ranesh-arrow2 {
    position: absolute;
    top: 60%;
    right: 21%;
    width: 65px;
}

#image-water-pump1 {
    position: absolute;
    top: 49.5%;
    right: 34.6%;
    width: 173px;
    height: 43px;
}

#image-water-pump2 {
    position: absolute;
    top: 70.5%;
    right: 34.3%;
    width: 173px;
    height: 43px;
}

#image-pump-active1, #image-pump-error1, #image-pump-ready1 {
    position: absolute;
    top: 47.5%;
    right: 33%;
    width: 34%;
    opacity: 0.7;
    height: 11.5%;
}

#image-pump-active2, #image-pump-error2, #image-pump-ready2 {
    position: absolute;
    top: 68.5%;
    right: 32.4%;
    width: 35.4%;
    opacity: 0.7;
    height: 11.7%;
}

#run-time-pump1 {
    position: absolute;
    top: 51.5%;
    right: 47%;
    color: #fff;
}

#run-time-pump2 {
    position: absolute;
    top: 72.5%;
    right: 47%;
    color: #fff;
}

#label-input-pressure {
    position: absolute;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
    border: 1px solid rgb(47, 155, 156);
    color: rgb(47, 155, 156);
    top: 29%;
    right: 62%;
    font-size: 18px;
    direction: ltr;
    width: 111px;
}

#label-output-pressure {
    position: absolute;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
    border: 1px solid rgb(47, 155, 156);
    color: rgb(47, 155, 156);
    top: 86%;
    right: 26%;
    font-size: 18px;
    direction: ltr;
    width: 111px;
}

/**********************************************************************************************************
    *
    *
    @media (max-width: 768px)
    *
    *
***********************************************************************************************************/
@media (max-width: 768px) {
    #image-makesh, #image-makesh-error {
        width: 73px;
        top: 434px;
        right: 357px;
    }

    #image-ranesh {
        right: 29px;
        top: 457px;
        width: 43px;
    }

    #image-makesh-arrow1 {
        top: 457px;
        right: 372px;
        width: 27px;
    }

    #image-makesh-arrow2 {
        top: 502px;
        right: 379px;
        width: 27px;
    }

    #image-ranesh-arrow1 {
        top: 466px;
        right: 43px;
        width: 30px;
    }

    #image-ranesh-arrow2 {
        top: 501px;
        right: 38px;
        width: 30px;
    }

    #image-water-pump1 {
        top: 488px;
        right: 127px;
        width: 68px;
        height: 20px;
    }

    #image-water-pump2 {
        top: 533px;
        right: 122px;
        width: 71px;
        height: 20px;
    }

    #image-pump-active1, #image-pump-error1, #image-pump-ready1 {
        top: 486px;
        right: 117px;
        width: 220px;
        height: 23px;
    }

    #image-pump-active2, #image-pump-error2, #image-pump-ready2 {
        top: 532px;
        right: 114px;
        width: 230px;
        height: 23px;
    }

    #run-time-pump1 {
        top: 490px;
        right: 211px;
        font-size: 10px;
    }

    #run-time-pump2 {
        top: 536px;
        right: 211px;
        font-size: 10px;
    }

    #label-input-pressure {
        padding-left: 2px;
        padding-right: 2px;
        padding-top: 2px;
        top: 428px;
        right: 264px;
        font-size: 15px;
        width: 83px;
    }

    #label-output-pressure {
        padding-left: 2px;
        padding-right: 2px;
        padding-top: 2px;
        top: 562px;
        right: 69px;
        font-size: 15px;
        width: 83px;
    }

    #station-status-parent {
        height: 77px;
    }
}
